.editUserWrapper{

    display:flex;
    flex-direction:column;
    background: var(--color-primary-light);
    padding: 2rem 2.5rem;
    gap:2rem;
    border-radius: 1rem;
}

.formInputGroup{


    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;

}
.headerWrapper{

    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
}

.editUserForm{

    display:flex;
    flex-direction:column;
    gap:1rem;
}

input{

    flex:3;
}
.pageWrapper{

    display:flex;
    flex-direction:column;
    gap:2rem;

}

.buttonWrapper{

    display:flex;
    flex-direction:row;
    gap:2rem;
}
.back{

    cursor:pointer;
}