.editUserWrapper{

    display:flex;
    flex-direction:column;
    background: var(--color-primary-light);
    padding: 2rem;
    gap:3rem;
    border-radius: 1rem;
}

.formInputGroup{


    display:flex;
    flex-direction:row;
    align-items:center;
    gap:0.2rem;

}

.back{

    cursor:pointer;
}