

.registerSectionWrapper{

    
    flex-direction:row;
    justify-content:center;
    align-items:center;
    display:flex;

    border:none;
    background-color:var(--color-background);
    padding:2rem;
    box-sizing: border-box;
    min-height: 100vh;
}



.registerForm{

    display:flex;
    flex-direction:column;
    align-items:center;
    padding:3rem;
    border:1px solid var(--color-black-olive);
    border-radius:1.4rem;
    background-color:var(--color-surface);
    gap:1.4rem;
    box-shadow: 10px 10px 5px var(--color-black-olive);
}

.formGroup{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:0.8rem;
}

.text{

    font-weight:400;
    font-family:"Karrik", sans-serif;
    font-size:2rem;
    
}

.registerHeader{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:1rem;

}

.buttonWrapper{

    display:flex;
    flex-direction: column;
    width:100%;
}