.dashboard-footer-wrapper{

background: linear-gradient(90deg,rgba(168, 255, 216, 1) 0%, rgba(62, 180, 136, 1) 76%);
padding: 1.5rem 0;
}

.deals-wrapper{

    display:flex;
    flex-direction:row;
    justify-content:center;
    gap: 2rem;
    padding: 0.7rem 0;
    
}

.deals-item-wrapper{

    display:flex;
    flex-direction:row;
    justify-content:space-around;
}