

.loginSectionWrapper{

    
    flex-direction:row;
    justify-content:center;
    align-items:center;
    display:flex;
    border:none;
    background-color:var(--color-background);
    padding:2rem;
    box-sizing: border-box;
    min-height: 100vh;
    gap:6rem;

    
}



.loginForm{

    width: 40%;
    min-width: 320px;
    max-width:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:3rem;
    border:1px solid var(--color-black-olive);
    border-radius:0.8rem;
    background-color:var(--color-surface);
    gap:2rem;
    box-shadow: 10px 10px 5px var(--color-black-olive);
}

.formGroup{

    width:100%;
    flex:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:0.8rem;

}

.text{

    font-weight:400;
    font-family:"Karrik", sans-serif;
    font-size:2rem;
    
}

.loginHeader{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:1rem;

}

.buttonWrapper{

    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap:1.3rem;
}

.inputUA{

    border:1px solid var(--color-border);
    padding: 0.8rem 1rem;
    color:var(--color-text);
    background-color:var(--color-primary-light);
}

.inputUA::placeholder{

    color: var(--color-text);
    
}

.gfWrapper{

    display:flex;
    width:100%;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:0.5rem;

}

.gfWrapper button{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:0.6rem;
    font-size:1.1rem;
    font-weight:400;
    color:white;
}

.iconFG{

    font-size:1.2rem;

}


.rightSectionWrapper{

    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1.2rem;
}

.imageSectionWrapper{

    
  width: 32rem;
  height: 17rem; /* or whatever fits your design */
  border-radius: 30px;
  border: 4px solid #323d3b;
  background: #DAF1DE;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}



