.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding:0.7rem 4rem;
    border: none;
    background: var(--color-primary-dark);
    
}

 
.navList{
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    color: #000000;
    padding:0;

}

.text{

    font-weight:normal;
    font-size: 1.2rem;
    color:var(--color-accent);
    letter-spacing: normal;
    
}